In [1]:
import numpy as np
import pandas as pd

In [2]:
data_test = pd.read_csv("Dataset/kidney_disease_test.csv")

In [3]:
data_test.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,209,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,280,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,33,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,210,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no

In [4]:
len(data_test)

120

In [5]:
data_test.shape

(120, 25)

In [7]:
data_test.drop_duplicates()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,209,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,280,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,33,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,210,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60,67.0,90.0,1.020,1.0,0.0,NaN,abnormal,present,notpresent,...,NaN,NaN,NaN,NaN,yes,no,no,good,no,no
116,79,56.0,80.0,1.010,1.0,0.0,NaN,normal,notpresent,notpresent,...,13.5,40,11800.0,5.0,yes,yes,no,poor,yes,no
117,285,66.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,16.0,41,5300.0,5.9,no,no,no,good,no,no
118,305,41.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,17.1,41,9100.0,5.2,no,no,no,good,no,no
119,281,55.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,15.5,41,9100.0,6.0,no,no,no,good,no,no

In [8]:
data_test.shape

(120, 25)

In [9]:
data_test = data_test.drop(columns=['id'])

In [10]:
data_test.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,93.0,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,140.0,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,255.0,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,295.0,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no

In [11]:
data_test.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane'],
      dtype='object')

In [12]:
data_test.isnull().sum()

age       4
bp        3
sg       11
al       11
su       11
rbc      45
pc       15
pcc       0
ba        0
bgr      11
bu        5
sc        5
sod      20
pot      20
hemo     13
pcv      19
wc       28
rc       37
htn       1
dm        1
cad       1
appet     1
pe        1
ane       1
dtype: int64

In [13]:
data_test.dtypes

age      float64
bp       float64
sg       float64
al       float64
su       float64
rbc       object
pc        object
pcc       object
ba        object
bgr      float64
bu       float64
sc       float64
sod      float64
pot      float64
hemo     float64
pcv       object
wc       float64
rc       float64
htn       object
dm        object
cad       object
appet     object
pe        object
ane       object
dtype: object

In [15]:
data_test.rbc = data_test.rbc.map({ 'normal' : 1, 'abnormal' : 0})
data_test.pc = data_test.pc.map({ 'normal' : 1, 'abnormal' : 0})
data_test.pcc = data_test.pcc.map({ 'present' : 1, 'notpresent' : 0})
data_test.ba = data_test.ba.map({ 'present' : 1, 'notpresent' : 0})
data_test.htn = data_test.htn.map({ 'yes' : 1, 'no' : 0})
data_test.dm = data_test.dm.map({ 'yes' : 1, '\tyes' : 1, '\tno' : 0, 'no' : 0})
data_test.cad = data_test.cad.map({ 'yes' : 1, 'no' : 0, '\tno' : 0})
data_test.appet = data_test.appet.map({ 'good' : 1, 'poor' : 0})
data_test.pe = data_test.pe.map({ 'yes' : 1, 'no' : 0})
data_test.ane = data_test.ane.map({ 'yes' : 1, 'no' : 0})

In [16]:
data_test.pcv = pd.to_numeric(data_test.pcv, errors='coerce')

In [17]:
def fill_nans_test():

    for col in data_test.columns:
        if data_test[col].dtype == 'float64':
            data_test[col] = data_test[col].transform(lambda x: x.fillna(x.median()))
    return data_test

fill_nans_test()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,19.0,70.0,1.020,0.0,0.0,1.0,1.0,0,0,113.0,...,11.5,40.0,6900.0,4.8,0.0,0.0,0.0,1.0,0.0,0.0
1,47.0,80.0,1.020,0.0,0.0,1.0,1.0,0,0,93.0,...,13.3,52.0,8100.0,5.2,0.0,0.0,0.0,1.0,0.0,0.0
2,60.0,100.0,1.020,2.0,0.0,0.0,0.0,0,0,140.0,...,10.1,29.0,8300.0,4.8,1.0,0.0,0.0,0.0,0.0,0.0
3,59.0,100.0,1.015,4.0,2.0,1.0,1.0,0,0,255.0,...,7.3,20.0,9800.0,3.9,1.0,1.0,1.0,1.0,0.0,1.0
4,73.0,100.0,1.010,3.0,2.0,0.0,0.0,1,0,295.0,...,9.2,30.0,7000.0,3.2,1.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,67.0,90.0,1.020,1.0,0.0,1.0,0.0,1,0,141.0,...,12.6,40.0,8300.0,4.8,1.0,0.0,0.0,1.0,0.0,0.0
116,56.0,80.0,1.010,1.0,0.0,1.0,1.0,0,0,165.0,...,13.5,40.0,11800.0,5.0,1.0,1.0,0.0,0.0,1.0,0.0
117,66.0,70.0,1.020,0.0,0.0,1.0,1.0,0,0,94.0,...,16.0,41.0,5300.0,5.9,0.0,0.0,0.0,1.0,0.0,0.0
118,41.0,80.0,1.020,0.0,0.0,1.0,1.0,0,0,122.0,...,17.1,41.0,9100.0,5.2,0.0,0.0,0.0,1.0,0.0,0.0
119,55.0,80.0,1.025,0.0,0.0,1.0,1.0,0,0,130.0,...,15.5,41.0,9100.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0

In [18]:
data_test.isnull().sum()

age      0
bp       0
sg       0
al       0
su       0
rbc      0
pc       0
pcc      0
ba       0
bgr      0
bu       0
sc       0
sod      0
pot      0
hemo     0
pcv      0
wc       0
rc       0
htn      0
dm       0
cad      0
appet    0
pe       0
ane      0
dtype: int64

In [19]:
data_test.to_csv("CleanedData/Test_Cleaned_dataset.csv")